@import "tailwindcss";
@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.2;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s infinite ease-in-out;
}
html {
  scroll-behavior: smooth;
}